@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import "tailwindcss";
@plugin "daisyui";


* {
    font-family: "Crimson Text", serif;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #bb1e23;
  --color-secondary: teal;
}